<ap-inventoryproduct form-id="ap-productform-{{ section.id }}-{{ product.id }}" class="ap-productform__inventory-wrapper">
    <span class="inventory inventory--high">
        {% if product.variants[0]["available"] %}
            <span class="inventory_stock">
                {{ 'products.product.in_stock' | t }}
            </span>

        {% else %}
            <span class="inventory_outstock">
                {{ 'products.product.out_stock' | t }}
            </span>
        {% endif %}
    </span>
    <script type="application/json">
        {
            {%- assign _size = product.variants | size -%}
            {%- for variant in product.variants -%}
                {%- if product.variants[0]["available"] -%}
                    "{{- variant.id -}}": "<span class=\"inventory inventory--high\">En Stock</span>"
                {%- else -%}
                    "{{- variant.id -}}": "<span class=\"inventory inventory--high\">Agotado</span>"
                {%- endif -%}
                {%- if forloop.index < _size and _size > 1 -%},{%- endif -%}
            {%- endfor -%}
        }
    </script>
</ap-inventoryproduct>
